In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("/Users/benplatt/Desktop/programming/github_repositories/College-Work-on-Baseball-Models-/Messing with S&P 500/sp_500_data/sp500_stocks.csv")

In [9]:
df.head(35)

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume
0,2010-01-04,MMM,40.835033,69.414719,69.774246,69.122070,69.473244,3640265.0
1,2010-01-05,MMM,40.579254,68.979935,69.590302,68.311035,69.230766,3405012.0
2,2010-01-06,MMM,41.154755,69.958191,70.735786,69.824417,70.133781,6301126.0
3,2010-01-07,MMM,41.184269,70.008362,70.033447,68.662209,69.665550,5346240.0
4,2010-01-08,MMM,41.474461,70.501671,70.501671,69.648827,69.974915,4073337.0
5,2010-01-11,MMM,41.307236,70.217392,70.735786,69.740807,70.551842,3500812.0
6,2010-01-12,MMM,41.341656,70.275917,70.384613,69.648827,69.882942,3626033.0
7,2010-01-13,MMM,41.208866,70.050163,70.326088,69.565216,70.326088,3709992.0
8,2010-01-14,MMM,41.071148,69.816055,70.175583,69.749161,70.016724,3150384.0
9,2010-01-15,MMM,41.007195,69.707359,70.309364,69.289299,69.832779,4730180.0
10,2010-01-19,MMM,41.867981,71.170570,71.212372,69.816055,70.083611,5382478.0
11,2010-01-20,MMM,41.671219,70.836121,71.178932,69.891304,70.928093,4390755.0
12,2010-01-21,MMM,40.677650,69.147156,70.735786,69.038460,70.735786,5720707.0
13,2010-01-22,MMM,40.077545,68.127090,69.255852,67.976585,68.896324,5751564.0
14,2010-01-25,MMM,40.249714,68.419731,69.306023,68.127090,68.837791,4050374.0
15,2010-01-26,MMM,40.151348,68.252510,69.172241,67.759193,68.110367,3753048.0
16,2010-01-27,MMM,40.480900,68.812706,69.264214,67.734116,68.001671,6060012.0
17,2010-01-28,MMM,39.718483,67.516724,69.096992,66.145485,69.080269,8157557.0
18,2010-01-29,MMM,39.590603,67.299332,68.461540,67.040131,68.018394,5199012.0
19,2010-02-01,MMM,39.566013,67.257523,67.633781,66.839462,67.591972,4344709.0
20,2010-02-02,MMM,39.561096,67.249161,67.675583,66.638794,67.474915,5609240.0
21,2010-02-03,MMM,40.087402,68.143814,68.294312,66.747490,66.747490,4067955.0
22,2010-02-04,MMM,38.961021,66.229095,67.834450,65.911369,67.834450,6353870.0
23,2010-02-05,MMM,38.631470,65.668900,66.471573,64.598663,66.187294,6467968.0
24,2010-02-08,MMM,38.134670,64.824417,65.618729,64.590302,65.618729,5271131.0
25,2010-02-09,MMM,38.720009,65.819397,66.396324,65.133781,65.451508,5085990.0
26,2010-02-10,MMM,38.670822,65.735786,66.295990,65.217392,65.886292,2924459.0
27,2010-02-11,MMM,39.482395,67.115387,67.215721,65.919731,66.237457,6607302.0
28,2010-02-12,MMM,38.946255,66.204010,66.245819,65.275917,66.170570,6509828.0
29,2010-02-16,MMM,39.580772,67.282608,67.424751,66.337791,66.956520,4328444.0
30,2010-02-17,MMM,39.728451,67.006691,67.466553,66.672241,67.240807,3701859.0
31,2010-02-18,MMM,40.209312,67.817726,67.876251,66.939796,66.939796,3232070.0
32,2010-02-19,MMM,40.412571,68.160538,68.344482,67.399666,67.842812,3848608.0
33,2010-02-22,MMM,39.996159,67.458191,68.361206,67.349495,68.319397,3618378.0
34,2010-02-23,MMM,39.515282,66.647156,67.801003,66.613708,67.232445,4762352.0

In [8]:
df.columns

Index(['Date', 'Symbol', 'Adj Close', 'Close', 'High', 'Low', 'Open',
       'Volume'],
      dtype='object')

In [10]:
features = ['Date', 'Symbol', 'Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']

In [12]:
df.dtypes

Date          object
Symbol        object
Adj Close    float64
Close        float64
High         float64
Low          float64
Open         float64
Volume       float64
dtype: object

In [13]:
df['Date'] = pd.to_datetime(df['Date'])

In [14]:
df.head(5)

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume
0,2010-01-04,MMM,40.835033,69.414719,69.774246,69.122070,69.473244,3640265.0
1,2010-01-05,MMM,40.579254,68.979935,69.590302,68.311035,69.230766,3405012.0
2,2010-01-06,MMM,41.154755,69.958191,70.735786,69.824417,70.133781,6301126.0
3,2010-01-07,MMM,41.184269,70.008362,70.033447,68.662209,69.665550,5346240.0
4,2010-01-08,MMM,41.474461,70.501671,70.501671,69.648827,69.974915,4073337.0