In [1]:
import pandas as pd

In [2]:
# Fill in name of file

data = pd.read_csv('FanGraphs Leaderboard.csv')

In [3]:
data.columns

Index(['Season', 'Name', 'Team', 'G', 'PA', 'HR', 'R', 'RBI', 'SB', 'BB%',
       'K%', 'ISO', 'BABIP', 'AVG', 'OBP', 'SLG', 'OPS', 'wOBA', 'wRC+', 'BsR',
       'Off', 'Def', 'WAR', 'playerid'],
      dtype='object')

In [4]:
# Dropping these columns

data = data.drop(columns=['Season', 'Team', 'Name'])

In [7]:
# Getting rid of % so it doesn't freak out

data['BB%'] = data['BB%'].str.replace('%', "")
data['K%'] = data['K%'].str.replace('%', "")

In [11]:
# Renaming these columns

data = data.rename(columns={'BB%':'BB', 'K%':'K', 'wRC+':'wRCplus'})

In [33]:
# Changing the data type to float

data = data.astype('float')

In [41]:
type(data.G[0])

numpy.float64

In [12]:
data.head()

,G,PA,HR,R,RBI,SB,BB,K,ISO,BABIP,...,OBP,SLG,OPS,wOBA,wRCplus,BsR,Off,Def,WAR,playerid
0,153,654,42,118,99,6,19.0,20.0,0.319,0.369,...,0.460,0.649,1.109,0.461,197,3.6,77.7,-10.2,9.3,11579
1,136,614,32,129,80,30,13.2,14.8,0.294,0.368,...,0.438,0.640,1.078,0.449,185,6.9,69.3,13.2,10.6,13611
2,140,608,39,101,79,24,20.1,20.4,0.316,0.346,...,0.460,0.628,1.088,0.447,188,5.0,69.2,2.1,9.5,10155
3,130,580,44,100,97,30,13.8,20.3,0.342,0.355,...,0.429,0.671,1.100,0.442,174,8.5,65.2,-9.0,7.3,11477
4,114,507,33,92,72,22,18.5,17.8,0.323,0.318,...,0.442,0.629,1.071,0.437,180,4.0,54.4,-7.5,6.4,10155

In [9]:
# Setting the prediction target

y = data.OPS

In [47]:
# Choosing features or "variables"

model_features = ['G', 'PA', 'HR', 'R', 'RBI', 'SB', 'BB',
       'K', 'ISO', 'BABIP', 'AVG', 'OBP', 'SLG', 'wOBA', 'wRCplus', 'BsR',
       'Off', 'Def', 'WAR', 'playerid']

In [48]:
# Setting features

X = data[model_features]

In [65]:
# Importing model type from sklearn

from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [60]:
# using the train test split function to create training and validation data

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

In [61]:
# Defining the model

ops_model = DecisionTreeRegressor()

In [62]:
# Fitting the model

ops_model.fit(train_X, train_y)

DecisionTreeRegressor()

In [64]:
# Creating validation predictions

val_predictions = ops_model.predict(val_X)

In [66]:
# Printing the mean absolute error

print(mean_absolute_error(val_y, val_predictions))

0.009417840375586847